#EXTINF:-1, [COLOR blue] ZABI ATEF [/COLOR]

#EXTM3U
#EXTINF:0, BEIN SPORT 1 HD
http://live01.pushpublish.tv/mylive/bein1/playlist.m3u8
#EXTINF:0, BEIN SPORT 2 HD
http://live01.pushpublish.tv/mylive/bein2/playlist.m3u8
#EXTINF:0, TF1
http://62.65.140.213:80/session/67dccc70-ddf0-11e5-9ef6-005056bc06d1/nvnv5a/2/2027/4240000/index.m3u8
#EXTINF:0, ARTE HD
http://62.65.140.151:80/session/3895cda4-ddf0-11e5-beb1-005056bc06d1/nvnv5a/2/2029/4240000/index.m3u8
#EXTINF:0, MBC_ACTION
http://63.237.48.23/ios/MBC_ACTION/MBC_ACTION.m3u8

